<div class='links'>
  <%= link_to 'Group by date', transactions_reports_path %>
  <%= link_to 'Group by category', categories_reports_path %>
  <%= link_to 'Burn Rate', burn_rate_reports_path %>
</div>
