<%= javascript_include_tag 'categories' %>

<h1>Categories Report</h1>

<%= render partial: 'reports/links' %>

<div id='filter_form'>
  <%=
    render partial: 'transactions/filter', locals: {
      url: categories_reports_path,
      all_url: categories_reports_path('report[all]' => true),
      date: @date
    }
  %>
</div>

<%= column_chart @categories_data, stacked: true, prefix: '$', library: { type: 'bar' } %>
